
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">Título</div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="todo.title">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Descripción:</div>
            <div class="col-md-8">
                <textarea  class="form-control" [(ngModel)]="todo.description"></textarea>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success" (click)="save()">Guardar</button>
            <button class="btn btn-danger" (click)="cancel()">Cerrar</button>
        </div>
    </div>
</div>